<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <%= form_tag "/auth/hack_club", method: :post, data: {turbo: false} do %>
        <button class="btn btn--red btn--striped">
            <div>
            <%= image_tag image_url("mask/enter.avif"), width: 20, height: 20 %>
            Sign in!
            </div>
        </button>
    <% end %>
</div>
