.projects-show {
  padding: var(--space-xxl) var(--space-l);

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: var(--space-xl);
  }

  /* (edit/delete) */
  &__admin-actions {
    display: flex;
    gap: var(--space-s);
    align-self: flex-end;
  }

  &__icon-btn {
    background-color: var(--color-brown-400);
    border-radius: calc(var(--border-radius) * 0.8);
    padding: var(--space-xs) var(--space-l);
  }

  &__icon-btn svg {
    color: var(--color-brown-700) !important;
    height: 1.35em;
    width: 1.35em;
  }

  &__timeline {
    padding-left: 4em;
    position: relative;
  }

  &__timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='8' height='90' viewBox='0 0 4 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0' y='0' width='4' height='30' rx='2' fill='%23AD7757' /%3e%3c/svg%3e");
    background-repeat: repeat-y;
    opacity: 0.5;
  }
}
