.shop {
  text-align: center;
  margin-top: 4rem;

  .ui-heading {
    width: 100%;
    margin-bottom: 3em;

    &__title {
      font-size: 2.5rem;
      font-family: var(--font-family-text);
    }

    &__stack {
      width: 50%;
    }

    &__surface {
      width: 100%;
    }

    @media (max-width: 960px) {
      &__stack {
        width: 100%;
      }
    }
  }

  .btn {
    background: var(--color-blue-400);
    padding: 0.5em 2em;
    font-family: var(--font-family-text);
    font-size: 1.5rem;
    border-radius: 16px;

    &::after {
      content: "";
      background-color: transparent;
    }
  }

  a.btn {
    &:not(.no-underline)::after {
      content: none;
    }
  }

  .shop__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
  }

  .shop__banner {
    width: 100%;
    border: 1em solid hsl(22, 34%, 51%);
    background-color: var(--color-brown-500);
    border-radius: 16px;
    padding: 1.5em;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("landing/pattern.webp") repeat center center / 1200px;
      opacity: 0.1;
      z-index: 0;
    }

    .shop__banner-headings {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--font-family-text);
      font-size: 2rem;
      width: 90%;
      margin: 0 auto;

      .shop__banner-title {
        color: var(--color-bg);
        font-weight: normal;
        font-size: 3rem;
        font-family: var(--font-family-text);
      }

      .shop__banner-price {
        background-color: var(--color-brown-700);
        color: var(--color-bg);
        padding: 1rem 2rem;
        border-radius: 16px;
        font-weight: normal;
        font-family: var(--font-family-text);
      }
    }

    .shop__banner-showcase {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      .shop__banner-item-desc {
        text-align: left;
        flex: 1;

        h4 {
          font-size: 5rem;
          color: var(--color-bg);
          font-weight: normal;
          font-family: var(--font-family-text);
          line-height: 1;
        }

        h5 {
          margin-top: 0.5rem;
          font-size: 2rem;
          color: var(--color-tan-400);
          font-weight: normal;
          font-family: var(--font-family-text);
        }

        h6 {
          font-size: 1.5rem;
          color: var(--color-tan-400);
          font-weight: normal;
          font-family: var(--font-family-text);
        }

        a {
          margin-top: 1.5rem;
          background-color: var(--color-brown-700);
          color: var(--color-bg);
          padding: 1em 2em;
          font-size: 1.5rem;
          font-family: var(--font-family-text);
          font-weight: normal;
          display: inline-block;
          border-radius: 8px;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          z-index: 10;

          &:hover {
            background-color: var(--color-brown-800);
          }
        }
      }

      img {
        margin-top: -4em;
        margin-bottom: -2em;
        height: 400px;
      }
    }

    @media (max-width: 1000px) {
      .shop__banner-headings {
        flex-direction: column;
        margin-bottom: 1em;

        .shop__banner-price {
          font-size: 2.5rem;
          padding: 0.5rem 1rem;
          margin-top: 1em;
          width: 100%;
        }
      }

      .shop__banner-showcase {
        flex-direction: column;

        .shop__banner-item-desc {
          text-align: center;

          h4 {
            font-size: 3rem;
          }

          h5 {
            font-size: 1.5rem;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .shop__nav {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    .shop__searchbar {
      flex-grow: 1;

      .input {
        width: 100%;
        padding: 0;
        color: var(--color-brown-700);
        font-family: var(--font-family-text);
      }

      .input::before {
        display: none;
      }

      .input__label {
        display: none;
      }

      .input__control {
        box-shadow: var(--shadow);
        border-radius: 1rem;
      }

      .input__icon {
        box-shadow: var(--shadow);
        background-color: transparent;
        color: var(--color-brown-700);
        padding: 0 var(--space-s);

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .input__field {
        color: var(--color-brown-700);
        font-size: 1.7rem;
        margin-bottom: -0.2em;
      }

      .input__field::placeholder {
        color: var(--color-brown-700);
        opacity: 0.5;
      }

      .input__field:focus {
        box-shadow: none;
      }
    }

    .shop__filters {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-evenly;
      gap: 1rem;

      .dropdown:nth-child(2) {
        min-width: 250px;
      }

      .dropdown__button {
        padding: 0.5em 0.5em 0.2em 0.5em;
      }

      #sort-btn {
        background-color: var(--color-green-400);
        padding: 1em;
        border: none;
        cursor: pointer;
        border-radius: 1rem;
        position: relative;
        margin-top: 1rem;
        padding: 1rem 1rem 0.6rem 1rem;

        svg {
          width: 30px;
          height: 30px;
          color: var(--color-green-500);
        }

        span {
          background-color: var(--color-green-300);
          position: absolute;
          z-index: -1;
          top: -2.5rem;
          left: 0;
          width: 100%;
          padding: 0.6rem 0.1rem 2rem 0.1rem;
          border-radius: 1rem;
          box-shadow: var(--shadow);

          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    @media (max-width: 1400px) {
      flex-direction: column;

      .shop__searchbar {
        width: 100%;
      }

      .shop__filters {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 2em;
        gap: 2em;

        .dropdown {
          flex-grow: 1;
        }
      }
    }
  }

  .shop__items {
    margin: 2em 0;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .shop-item-card {
      width: 100%;
    }
  }

  @media (max-width: 650px) {
    .shop__buttons {
      flex-direction: column;
      gap: 4rem;

      a {
        width: 100%;
      }

      .dropdown {
        width: 100%;
      }
    }

    .dropdown--pink {
      margin-top: 1.7em;
    }
  }
}
