// Font Face Declarations

@font-face {
  font-family: "Jua";
  src: url("Jua-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sour Gummy";
  src: url("SourGummy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sour Gummy Bold";
  src: url("SourGummy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}