<%= link_to sidequest_path(sidequest), id: "challenger-center", class: "sidequest-card sidequest-card--purple sidequest-card--dynamic-stars sidequest-card--link" do %>
  <div class="sidequest-card__content" data-controller="stars" data-stars-fade-on-scroll-value="false">
    <h1 class="sidequest-card__title">Challenger Space Mission</h1>
    <%= image_tag "launch/group-moon.png",
                  alt: "",
                  aria: { hidden: true },
                  class: "sidequest-card__corner-moon" %>
    <h2>Ship a space-related project by April 30th! Submit it to this sidequest to qualify for space-themed prizes in the shop.</h2>
    <% if sidequest.approved_count > 0 %>
      <p class="sidequest-card__expires"><%= pluralize(sidequest.approved_count, "submission") %></p>
    <% end %>
    <p class="sidequest-card__expires">Ends April 30th, 2026</p>
  </div>
<% end %>
