<%= stylesheet_link_tag "sidequests/minequest/ui", "data-turbo-track": "reload" %>

<div class="minecraft-ui-container">
  <%= image_tag "sidequests/art.png", class: "minecraft-image" %>
  <p><%= sidequest.description %></p>

  <%= link_to "View Sidequest", sidequest_path(sidequest), class: "minecraft-button" %>
</div>
