<%= link_to sidequest_path(sidequest), id: "physics-lab", class: "sidequest-card sidequest-card--blue sidequest-card--link" do %>
  <div class="sidequest-card__content">
    <h1 class="sidequest-card__title">Physics Lab</h1>
    <div class="sidequest-card__image-container">
      <%= image_tag "sidequests/physics-lab.svg",
                    alt: "",
                    aria: {hidden: true},
                    class: "sidequest-card__image" %>
    </div>
    <h2>Build a project about anything physics related (motion, force, gravity, electricity, waves, or collisions!). Make sure you can demo it though.</h2>
    <% if sidequest.approved_count > 0 %>
      <p class="sidequest-card__expires"><%= pluralize(sidequest.approved_count, "submission") %></p>
    <% end %>
    <p class="sidequest-card__expires">Build physics things, unlock physics prizes</p>
  </div>
<% end %>