<%
  commentable_type = commentable.class.name.underscore.gsub("/", "_")
  comments_dom_id = "comments_#{commentable_type}_#{commentable.id}"
%>

<div class="comments-section">
  <%= render "comments/form", commentable: commentable %>

  <% if commentable.comments.exists? %>
    <h3 class="comments-section__title">Comments</h3>
  <% end %>

  <div id="<%= comments_dom_id %>" class="comments-section__list">
    <% commentable.comments.includes(:user).order(created_at: :asc).each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>
</div>
