.shop-page {
    text-align: center;
    margin-top: 4rem;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 auto 3rem auto;
        background-color: var(--color-brown-500);
        color: #F8E8D1;
        width: 50%;
        text-align: center;
        position: relative;
        border-radius: 16px;
        font-weight: normal;
        font-family: var(--font-family-text);
        padding: 1rem 0.5rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("landing/pattern.webp") repeat center center / 800px;
            opacity: 0.1;
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 95%;
            height: 130%;
            background-color: #AD7757;
            border-radius: 16px;
        }
    }

    a {
        background: var(--color-blue-400);
        padding: 0.5em 2em;
        font-family: var(--font-family-text);
        font-size: 1.5rem;
        border-radius: 16px;

        &::after {
            content: "";
            background-color: transparent;
        }
    }

    a.btn {
        &:not(.no-underline)::after {
            content: none;
        }
        }

    .shop-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem auto;
    }

    .shop-banner {
        width: 100%;
        border: 1em solid #AD7757;
        background-color: #7A4841;
        border-radius: 16px;
        padding: 1.5em;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("landing/pattern.webp") repeat center center / 1200px;
            opacity: 0.1;
            z-index: 0;
        }

        .shop-banner-headings {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: var(--font-family-text);
            font-size: 2rem;
            
            h3 {
                color: #F8E8D1;
                font-weight: normal;
                font-size: 3rem;
                font-family: var(--font-family-text);
            }

            h3#item-price {
                background-color: #4D2B32;
                padding: 1rem 2rem;
                border-radius: 16px;
            }
        }

        .shop-banner-showcase {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;

            .item-desc {
                text-align: left;

                h4 {
                    font-size: 5rem;
                    color: #F8E8D1;
                    font-weight: normal;
                    font-family: var(--font-family-text);
                }

                h5 {
                    margin-top: 0.5rem;
                    font-size: 2rem;
                    color: #D7B594;
                    font-weight: normal;
                    font-family: var(--font-family-text);
                }

                h6 {
                    font-size: 1.5rem;
                    color: #D7B594;
                    font-weight: normal;
                    font-family: var(--font-family-text);
                }
            }

            a {
                margin-top: 0.5rem;
                background-color: #4D2B32;
                color: #F8E8D1;
                padding: 0.5em 2em;
                font-size: 2rem;
                font-family: var(--font-fanily-text);
                font-weight: normal;
            }

            img {
                margin-bottom: -2em;
                height: 400px;
            }
        }
    }

    .shop-nav {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 3rem;
        width: 100%;

        .shop-searchbar {
            flex-grow: 1;

            .searchbar {
                width: 100%;
            }
        }

        .shop-filters {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-evenly;
            gap: 1rem;

            .dropdown__button {
                padding: 0.5em 0.5em 0.2em 0.5em;
            }

            #sort-btn {
                background-color: #75A743;
                padding: 1em;
                border: none;
                cursor: pointer;
                border-radius: 1rem;
                position: relative;
                margin-top: 1rem;
                padding: 1rem 1rem 0.6rem 1rem;

                svg {
                    width: 30px;
                    height: 30px;
                }

                span {
                    background-color: #D0DA91;
                    position: absolute;
                    z-index: -1;
                    top: -2.5rem;
                    left: 0;
                    width: 100%;
                    padding: 0.6rem 0.1rem 2rem 0.1rem;
                    border-radius: 1rem;
                    box-shadow: var(--shadow);

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

    .shop-items {
        margin: 2em 0;
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .shop-item-card {
            width: 100%;
        }
    }
}