<div class="<%= heading_classes %>">
  <div class="ui-heading__stack">
    <span class="ui-heading__backdrop" aria-hidden="true"></span>
    <div class="ui-heading__surface">
      <h1 class="ui-heading__title"><%= title %></h1>
    </div>
  </div>

  <%= content if content? %>
</div>
