<div class="<%= input_classes %>">
  <label class="input__label"><%= label %></label>
  <%= field_tag %>
  <% if has_subtitle? %>
    <div class="input__subtitle"><%= subtitle %></div>
  <% end %>
</div>
