<div class="launch-collab-badge">
  <div class="launch-collab-badge__content">
    <%= image_tag "launch/challenger-center-logo.png", alt: "Challenger Center", class: "launch-collab-badge__challenger-logo" %>
    <span class="launch-collab-badge__x">x</span>
    <%= inline_svg_tag "hackclub-flag.svg", alt: "Hack Club", class: "launch-collab-badge__hackclub-logo" %>
  </div>
</div>
