<div class="<%= wrapper_classes %>">
  <% if label? %>
    <div class="input__label projects-new__media-label"><%= label %></div>
  <% end %>

  <div class="projects-new__media-content">
    <%= body %>
  </div>

  <% if subtitle.present? %>
    <div class="input__subtitle"><%= subtitle %></div>
  <% end %>
</div>
