<div class="platform-notice">
  <%= content_tag(@heading_element, class: "platform-notice__heading") do %>
    <%= helpers.inline_svg_tag("icons/info.svg", class: "platform-notice__icon", alt: "") %>
    Voting is currently paused
  <% end %>
  <p class="platform-notice__message">
    We're upgrading the voting system to make it clearer and fairer!
    As part of this effort, <strong>voting is temporarily unavailable this week</strong>.
  </p><p>
    <a href="https://hackclub.slack.com/archives/C09MATJJZ5J/p1771879301452079">See cwalker's message in #flavortown-bulletin</a>
    for more details.
  </p>
</div>
