<div class="searchbar">
  <form action="<%= action %>" method="get" class="searchbar__form" role="search">
    <button type="submit" class="searchbar__icon" aria-label="Search">
      <%= helpers.inline_svg_tag "icons/search.svg" %>
    </button>
    <input
      type="search"
      name="q"
      class="searchbar__input"
      placeholder="<%= placeholder %>"
      value="<%= q %>"
      aria-label="Search"
      />
  </form>
</div>