<div
  data-controller="tooltip"
  data-tooltip-target-id-value="<%= target_id %>"
  data-tooltip-position-value="<%= position %>"
  class="tooltip"
  aria-hidden="true"
  data-action="tooltip:connect->tooltip#moveToBody">
  <%= content %>
</div>
