<div class="my-shop-orders" style="text-align: center; margin-top: 4rem;">
    <h1>My Orders</h1>
    <%= render ButtonComponent.new(
        text: "Back to the Shop",
        href: "/shop/",
        color: :brown,
        variant: :borderless
    ) %>
</div>