<dialog id="<%= id %>" class="modal">
  <h3 class="modal__title" style="border-radius: calc(var(--border-radius)*.6);"><%= title %></h3>
  <% if local_assigns[:description] %>
    <p class="modal__description"><%= description %></p>
  <% end %>
  <%= yield %>
</dialog>
