<div class="wrapped-slide wrapped-slide--chart" data-wrapped-target="slide">
  <div class="wrapped-slide__content">
    <p class="wrapped-slide__eyebrow">your season at a glance</p>
    <div class="wrapped-chart" data-wrapped-target="chart"></div>
    <p class="wrapped-slide__body">a totally necessary radial breakdown.</p>
  </div>
</div>
