<div class="wrapped-slide wrapped-slide--devlogs" data-wrapped-target="slide">
  <div class="wrapped-slide__content">
    <p class="wrapped-slide__eyebrow">your story</p>
    <h2 class="wrapped-slide__stat"><%= wrapped.devlogs_count %></h2>
    <h1 class="wrapped-slide__headline"><%= "devlog".pluralize(wrapped.devlogs_count) %> written</h1>
    <% if wrapped.devlogs_count > 20 %>
      <p class="wrapped-slide__body">future you will thank present you.</p>
    <% elsif wrapped.devlogs_count > 0 %>
      <p class="wrapped-slide__body">you documented the journey.</p>
    <% else %>
      <p class="wrapped-slide__body">a blank slate. how mysterious.</p>
    <% end %>
  </div>
</div>
