<div class="">
  <div class="">
  <%= render(HeadingComponent.new(title: "Create a new Project", tone: :brown)) %>
<div class="input input--red">
  <label class="input__label">Label</label>
  <input class="input__field" type="text" placeholder="Default">
</div>
</div>
