<div class="projects-show">
  <div class="projects-show__container">
    <%= render ProjectShowCardComponent.new(project: @project) %>

    <% if current_user.present? && @project.users.include?(current_user) %>
      <div class="mt-4" style="display: flex; gap: var(--space-m);">
        <%= render ButtonComponent.new(
              text: "Add Devlog",
              color: :brown,
              href: new_project_devlog_path(@project)
            ) %>
        <% if @project.draft? || @project.can_ship_again? %>
          <%= render ButtonComponent.new(
                text: @project.draft? ? "Ship Project" : "Ship Again",
                color: :green,
                icon: "icons/ship.svg",
                href: ship_project_path(@project)
              ) %>
        <% end %>
      </div>
    <% end %>
    <% if @posts.present? %>
      <div class="projects-show__timeline">
        <div class="mt-4" style="display: grid; gap: var(--space-xl);">
          <% @posts.each do |post| %>
            <%= render PostComponent.new(post: post, variant: :devlog) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
