<h3 class="modal__title" style="border-radius: calc(var(--border-radius)*.5);">
  Heads up, we noticed something wrong with your ship!
</h3>
<ol class="modal__flags">
  <% @ai_review_result["flags"]&.each do |flag| %>
    <li class="modal__flag"><%= flag["message"] %></li>
  <% end %>
</ol>
<p class="modal__description">
  This is the result of an automated check. If you think this is inaccurate feel free to proceed with shipping!
</p>
<div class="modal__actions">
  <%= render ButtonComponent.new(text: "Go back and fix", color: :brown, data: { action: "modal#close" }) %>
  <%= render ButtonComponent.new(text: "Ship anyway", color: :green, data: { action: "ship-check#shipAnyway" }, class: "ship-anyway-button") %>
</div>
