<% content_for :title, "New Shop Item" %>
<div class="shop-item-edit">
  <div class="shop-item-edit__header">
    <h1>New Shop Item</h1>
  </div>

  <%= render 'form', shop_item: @shop_item %>

  <div class="shop-item-edit__back">
    <%= link_to "â† Back to Shop", admin_manage_shop_path, class: "btn-secondary" %>
  </div>
</div>

<style>
.shop-item-edit__header {
  margin-bottom: 1.5rem;
}

.shop-item-edit__header h1 {
  margin: 0;
}

.shop-item-edit__back {
  margin-top: 2rem;
}
</style>
