<% content_for :title, "Launch" %>

<%# Background elements %>
<div class="launch-moon" aria-hidden="true">
  <%= image_tag "launch/launch-moon.svg", alt: "" %>
</div>
<%# Main content %>
<div class="launch-content">
  <!-- Launch page content goes here -->
</div>
