<% content_for :title, "Launch" %>

<div class="solar-panel-wrapper">
  <div class="solar-panel">
    <div class="solar-panel__bg">
      <%= image_tag "solar-panel.svg", alt: "" %>
    </div>
    <div class="solar-panel__content">
      <!-- Launch page content goes here -->
    </div>
  </div>
</div>
