.explore {
  margin-top: 3em;

  &__nav {
    background-color: var(--color-brown-400);
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-radius: 16px;
    padding: 0.5em;
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 960px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__nav-component {
    color: var(--color-bg);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.4em;
    padding: 0.2em 0.5em;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      filter: brightness(1.1);
    }

    &.selected {
      background-color: var(--color-brown-500);

      &:hover {
        filter: none;
      }
    }
  }

  &__list {
    margin-top: 2em;

    .post {
      margin: 0 auto 2em auto;
      position: relative;

      .post__content {
        content-visibility: auto;
        contain-intrinsic-size: 1px 600px;
        contain: layout paint style;
      }

      &::after {
        left: auto;
        right: -2.5em;
        top: -2em;
      }

      &::before {
        left: auto;
        right: -1.25em;
        top: -0.75em;
        -webkit-mask: url("icons/paper.svg") no-repeat center / 40px 40px;
        mask: url("icons/paper.svg") no-repeat center / 40px 40px;
      }

      @media (max-width: 900px) {
        &::after {
          display: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  &__projects-list {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;

    .project-card {
      width: 400px;

      @media (max-width: 960px) {
        width: 100%;
      }
    }
  }

  &__header {
    margin: 2em auto;
    max-width: 600px;
    text-align: center;
    background-color: var(--color-brown-200);
    border-radius: 16px;
    padding: 1.5em 2em;
  }

  &__header-title {
    margin: 0 0 0.5em 0;
    font-size: 1.5rem;
    color: var(--color-brown-700);
  }

  &__description {
    font-size: 1.1rem;
    color: var(--color-brown-600);
    margin: 0;
    line-height: 1.5;
  }

  &__details {
    margin-top: 1em;
    text-align: left;

    summary {
      cursor: pointer;
      font-weight: 600;
      color: var(--color-brown-500);

      &:hover {
        color: var(--color-brown-700);
      }
    }
  }

  &__details-content {
    margin-top: 1em;
    padding: 1em;
    background-color: var(--color-brown-300);
    border-radius: 8px;

    p {
      margin: 0.5em 0;
      font-size: 0.95rem;
    }
  }

  &__code {
    display: block;
    background-color: var(--color-brown-400);
    color: var(--color-bg);
    padding: 0.5em 1em;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.9rem;
    margin: 0.5em 0;
  }

  &__empty {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    color: var(--color-brown-500);
    padding: 3em 1em;
  }

  &__pagination {
    .btn {
      margin-bottom: 1em;
      margin-top: 1em;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    p {
      text-align: center;
      margin-bottom: 1em;
      margin-top: 1em;
      font-size: 2rem;
      font-family: var(--font-family-text);
    }
  }
}
