.btn {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xs);
    color: var(--color-bg);
    padding: var(--space-xxs) var(--space-m);
    border-radius: var(--border-radius);
    background-origin: border-box;
    background-color: transparent;
    border: solid 5px transparent;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: filter 400ms, color 200ms;
    font-family: var(--font-family-jua);
    font-size: var(--font-size-m);

    // Support for submit buttons
    &[type="submit"] {
      appearance: none;
      -webkit-appearance: none;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
    }
  
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      transition: filter 250ms, color 200ms;
    }

    &--red {
      --btn-bg: var(--color-red-400);
      --btn-bg-dark: var(--color-red-500);
      background-color: var(--color-red-500);
      border-color: var(--color-red-400);

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.95);
      }
    }

    &--green {
      --btn-bg: var(--color-green-400);
      --btn-bg-dark: var(--color-green-500);
      background-color: var(--color-green-500);
      border-color: var(--color-green-400);

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.95);
      }
    }

    &--blue {
      --btn-bg: var(--color-blue-400);
      --btn-bg-dark: var(--color-blue-500);
      background-color: var(--color-blue-500);
      border-color: var(--color-blue-400);

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.95);
      }
    }

    &--yellow {
      --btn-bg: var(--color-yellow-400);
      --btn-bg-dark: var(--color-yellow-500);
      background-color: var(--color-yellow-500);
      border-color: var(--color-yellow-400);

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        filter: brightness(0.95);
      }
    }

    &--striped {
      padding: 0.625rem;
      border: none;
      border-radius: 0.5rem;
      font-family: inherit;
      
      background-color: var(--btn-bg);
      background-image: url("striped-btn-bg.svg");
      background-repeat: no-repeat;
      background-position: calc(50% - 2px) 50%;
      background-size: cover;

      div {
        background: var(--btn-bg-dark, var(--color-red-500));
        color: white;
        box-shadow: var(--shadow);
        border-radius: 5px;
        padding: 4px 25px;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          filter: invert(1);
        }
      }
    }
  }