.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &__frame {
    position: relative;
    transition: all 0.3s ease;

    img {
      margin-top: 0.5em;
      width: 200px;
      box-shadow: var(--shadow);
      transition: all 0.3s ease;
    }

    .comic-card__step-num {
      position: absolute;
      bottom: -0.5rem;
      left: -0.75rem;
      background-color: #ea5565;
      color: var(--color-bg);
      border: 0.12em solid black;
      border-radius: 50%;
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;

      img {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

  h1 {
    font-size: 1.75rem;
    font-weight: normal;
  }

}
