.platform-notice {
  // Stole this from the .sidequests-index styles
  background: var(--color-yellow-300)
    repeating-conic-gradient(
      from 0deg,
      rgba(0, 0, 0, 0.02) 0deg 90deg,
      transparent 90deg 180deg
    );
  background-size: 120px 120px;
  border: 0.4em solid var(--color-yellow-500);
  padding: 1em;
  border-radius: 12px;
  line-height: 1.5;

  & ul {
    margin-left: 1.5em;
  }

  & a {
    color: var(--color-brown-700);
    text-decoration: underline;
  }

  &--with-margin {
    margin-top: var(--space-xl);
  }

  &__heading {
    font-weight: 600;
    font-size: var(--font-size-l);
  }

  &__icon {
    width: 1em;
    height: 1em;
    color: currentColor;
    display: inline-block;
    vertical-align: top;
  }
}
