.project-show-card {
  background-color: var(--color-brown-500);
  border: 14px solid var(--color-brown-400);
  border-radius: calc(var(--border-radius) * 1.8);
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url("mask/project-card.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-xl);
    color: var(--color-bg);
  }

  &__banner {
    position: relative;

    .project-card__banner-frame {
      aspect-ratio: 21 / 7;
    }

    .project-show-card__ship-btn {
      position: absolute;
      z-index: 10;
      top: 1em;
      right: 1.15em;
      font-size: 1.4rem;
      border: none;
      padding: 0.4em 1em;
      background-color: var(--color-brown-700);
    }

    .project-show-card__fire-btn {
      position: absolute;
      z-index: 10;
      top: 3.5em;
      right: 1.15em;
      font-size: 1.4rem;
      border: 2px solid orange;
      padding: 0.4em 1em;
      background-color: var(--color-brown-700);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  &__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);

    h1 {
      font-weight: 400;
      font-size: 2.4rem;
    }
  }

  &__byline {
    margin-top: 0;
    color: var(--color-tan-400);
    font-size: var(--font-size-xl);
  }

  &__title {
    margin: 0;
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-headers);
    color: var(--color-bg);
  }

  &__title-text {
    display: inline-block;
  }

  &__stats {
    display: flex;
    align-items: center;
    gap: var(--space-l);
    color: var(--color-tan-400);
    font-size: var(--font-size-xl);
    margin-top: 0.4em;
  }

  &__stat {
    display: inline-flex;
    align-items: center;
    gap: 0.3em;

    svg {
      color: var(--color-tan-400) !important;
      width: 24px;
      height: 24px;
      margin-bottom: 0.1em;
    }

    &--clickable {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      color: inherit;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }

  &__description {
    margin: 0;
    color: var(--color-bg);
    font-size: 1.5rem;
    line-height: 1.5;

    /* appr markdown does some funny thigns */
    p {
      margin: 0;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: var(--space-l);
    margin-top: 0.5em;
    align-items: stretch;

    .btn {
      width: 100%;
      justify-content: center;
      height: 120%;
      border-radius: calc(var(--border-radius));
      font-size: var(--font-size-xxl);
      padding: var(--space-xs) var(--space-xl);
      gap: var(--space-s);

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.modal {
  &__title {
    text-align: center;
    background-color: var(--color-brown-700);
    color: var(--color-bg);
    padding: 0.2em;
    border-radius: 1.25em;
  }
}
