.project-idea-generator {
  background: var(--color-tan-300);
  padding: 12px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  text-align: center;
  align-self: center;
  width: 100%;

  > div {
    background-color: var(--color-bg);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.8em;
      margin: 0;
      font-family: var(--font-family-subtitle);

      @media (max-width: 600px) {
        font-size: 1.6em;
      }
    }

    p {
      color: var(--color-brown-dark);
      font-size: 1.2em;
      margin-bottom: 16px;
      font-family: var(--font-family-text);
    }

    #shopkeeper-bar {
      margin: 24px auto 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      #shopkeeper-speech {
        padding: 8px 16px;
        background: var(--color-tan-400);
        border-radius: 10px;
        box-shadow: var(--shadow);
        z-index: 10;
        font-family: var(--font-family-text);
      }

      #shopkeeper-bakery {
        position: relative;
        align-self: center;
        width: 100%;

        img {
          margin-top: -32px;
          width: 100%;
        }
      }
    }
  }
}
