.shop-item-card {
  background: #F8E8D1;
  border-radius: 16px;
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px;
  position: relative;
  overflow: hidden;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("landing/hero/hero-bg.webp") repeat center center / 1200px;
      z-index: 0;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #D7B594;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    .shop-item-card__image-tag {
      height: 100%;
    }
  }

  &__content {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 1;
  }
  
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 4em;
    font-family: var(--font-family-text);
  }

  &__hours {
    color: #A87254;
    font-size: 0.8rem;
  }

  &__price {
    color: var(--color-brown-700);
    font-size: 1.2rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4D2B32;
    font-family: var(--font-family-subtitle);
  }

  &__description {
    font-size: 1.2rem;
    color: #A87254;
    font-family: var(--font-family-text);
  }
}