.shop-item-card {
  background: #f8e8d1;
  border-radius: 16px;
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: visible;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("landing/hero/hero-bg.webp") repeat center center / 1200px;
    z-index: 0;
    border-radius: 16px;
  }

  &__image {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e8cfb4;
    border-radius: 12px;
    position: relative;

    img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      padding: 1em;
      position: relative;
      z-index: 0;
      opacity: 1 !important;
    }
  }

  &__content {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-family-text);
  }

  &__hours {
    color: #a87254;
    font-size: 0.8rem;
  }

  &__price {
    color: var(--color-brown-700);
    font-size: 1.2rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4d2b32;
    font-family: var(--font-family-subtitle);
  }

  &__description {
    font-size: 1.2rem;
    color: #a87254;
    font-family: var(--font-family-text);
  }

  &__order-button {
    width: 100%;
    margin-top: auto;
    position: relative;

    .btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: var(--font-family-text);
      cursor: pointer;
      border-radius: 12px;
      font-size: 1.5rem;
      padding: 0.2rem;
    }

    .btn:hover {
      filter: brightness(1.1);
    }
  }
}
