.sidebar {
  --sidebar-collapsed-width: 150px;
  --sidebar-expanded-width: 300px;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-collapsed-width);
  height: 100vh;
  padding: var(--space-xl) var(--space-l) var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  z-index: 10;
  transition: width 180ms ease;
  overflow: visible;

  &:hover {
    width: var(--sidebar-expanded-width);
  }
}

// .sidebar__header {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .sidebar__title {
//     font-size: var(--font-size-xxxxl);
//     letter-spacing: 0.04em;
//     color: var(--color-text-header);
// }

.sidebar__blob {
  flex: 1;
  padding: var(--space-xl) var(--space-l);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--color-blue-400);

  /* plaid pattern */
  background-image:
    /* horizontal stripes */
    linear-gradient(
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05)
    ),
    /* vertical stripes */
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.05) 25%,
        transparent 25%,
        transparent 75%,
        rgba(255, 255, 255, 0.05) 75%,
        rgba(255, 255, 255, 0.05)
      );

  background-size:
    100px 100px,
    100px 100px;
}

.sidebar__nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.sidebar__nav-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-xs) var(--space-m);
  padding-inline-start: var(--space-xxxs);
  color: var(--color-bg);
  font-size: var(--font-size-xxxl);
  text-decoration: none;
  width: 100%;
  border-radius: calc(var(--border-radius) / 1.5);
  z-index: 0;
}

.sidebar__nav-link--active {
  color: var(--color-bg);
}

.sidebar__nav-link--active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 225%;
  transform: translateX(-50%);
  z-index: -1;

  background-color: var(--color-blue-500);
  background-image: url("mask/sidebar-active.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: calc(var(--border-radius) / 1.5);

  transition: width 180ms ease;
}

.sidebar:hover .sidebar__nav-link--active::before {
  width: 130%;
}

.sidebar__nav-icon {
  width: 1.25em;
  height: 1.25em;
  color: inherit !important;
  flex-shrink: 0;
}

.sidebar__nav-icon-wrapper {
  --sidebar-icon-size: 3.4rem;

  display: grid;
  place-items: center;
  inline-size: var(--sidebar-icon-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  flex-shrink: 0;
  background: transparent;
}

.sidebar__nav-link--active .sidebar__nav-icon-wrapper {
  background: var(--color-blue-600);
}

.sidebar__nav-label {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 150ms ease,
    max-width 150ms ease,
    margin 150ms ease;
  margin-left: 0;
}

.sidebar:hover .sidebar__nav-label {
  opacity: 1;
  max-width: 240px;
  margin-left: var(--space-s);
}

.sidebar__user {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-top: auto;
}

.sidebar__user-placeholder {
  padding: var(--space-l);
  border-radius: calc(var(--border-radius) / 1.2);
  background: hsla(204, 44%, 52%, 0.25);
  text-align: center;
}

.sidebar__user-placeholder-text {
  font-size: var(--font-size-l);
  opacity: 0.85;
}

@media (max-width: 960px) {
  .sidebar {
    position: fixed;
    z-index: 100;
    top: auto;
    bottom: 1em;
    left: 0;
    width: 100%;
    height: var(--sidebar-collapsed-width);

    &:hover {
      width: 100%;
    }
  }

  .sidebar__blob {
    width: 100%;
    justify-content: space-between;
    padding: 0.5em 0;
    box-shadow: var(--shadow);
  }

  .sidebar__nav-list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sidebar:hover .sidebar__nav-label {
    opacity: 0;
    max-width: 0;
    margin-left: 0;
  }

  .sidebar__nav-link--active::before {
    display: none;
  }

  .sidebar__nav-icon-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar__user-placeholder {
    position: relative;
    z-index: 100;
    bottom: 0;
    padding: 0;
    width: 100%;
    box-shadow: var(--shadow);
  }

  body.signed-in main {
    margin: 0 50px;
  }
}
