.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: var(--space-xl) var(--space-l) var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    z-index: 10;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__title {
    font-size: var(--font-size-xxxxl);
    letter-spacing: 0.04em;
    color: var(--color-text-header);
}

.sidebar__blob {
  flex: 1;
  padding: var(--space-xl) var(--space-l);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--color-blue-400);

  /* plaid pattern */
  background-image:
    /* horizontal stripes */
    linear-gradient(
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05)
    ),
    /* vertical stripes */
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05)
    );

  background-size: 100px 100px, 100px 100px;
}

.sidebar__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.sidebar__nav-link {
    display: block;
    padding: var(--space-s);
    color: var(--color-bg);
    font-size: var(--font-size-xxxl);
    text-decoration: none;

    // &:hover,
    // &:focus {
    //     background: hsla(0, 0%, 100%, 0.35);
    //     transform: translateX(4px);
    // }
}

.sidebar__user {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-top: auto;
}

.sidebar__user-placeholder {
    padding: var(--space-l);
    border-radius: calc(var(--border-radius) / 1.2);
    background: hsla(204, 44%, 52%, 0.25);
    text-align: center;
}

.sidebar__user-placeholder-text {
    font-size: var(--font-size-l);
    opacity: 0.85;
}

@media (max-width: 960px) {
    .sidebar {
        position: static;
        width: auto;
        height: auto;
    }

    body.signed-in main {
        margin-left: 0;
    }
}

