.sidequest-card {
  --color-card-bg: rgb(244, 161, 169);
  --color-content-bg: #b54447;
  --color-content-darker: #9a3a3d;

  background-color: var(--color-card-bg);
  padding: 0.75em;
  border-radius: 1em;
  width: 500px;
  position: relative;

  &__content {
    background-color: var(--color-content-bg);
    padding: 0.75em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    h1 {
      font-family: var(--font-family-subtitle);
      font-size: 2.2rem;
      color: var(--color-bg);
      font-weight: normal;
    }

    h2 {
      font-family: var(--font-family-text);
      font-size: 1.2rem;
      color: var(--color-bg);
      font-weight: normal;
    }

    .sidequest-card__image-container {
      position: relative;

      .sidequest-card__sticker-image {
        position: absolute;
        top: -2.25em;
        right: 0.5em;
        height: 50px;
      }
    }
  }

  &__image {
    width: 100%;
    border-radius: 1em;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 1em;
    border-radius: 1em;

    .btn {
      border-radius: 0.8em;
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family-subtitle);
    }

    .btn-learn-more {
      background-color: var(--color-content-bg);
      color: var(--color-bg);
      border-color: var(--color-content-bg);
    }

    .btn-submit {
      background-color: var(--color-content-darker);
      color: var(--color-bg);
      border-color: var(--color-content-darker);
    }
  }

  @media (max-width: 1200px) {
    width: 100%;
  }

  &--red {
    --color-card-bg: #f4a1a9;
    --color-content-bg: #b54447;
    --color-content-darker: #9a3a3d;
  }

  &--blue {
    --color-card-bg: #99ccff;
    --color-content-bg: #4a90e2;
    --color-content-darker: #4178c0;
  }

  &--green {
    --color-card-bg: rgb(200, 215, 137);
    --color-content-bg: rgb(114, 166, 68);
    --color-content-darker: rgb(61, 120, 46);
  }
}
