.state-card {
  --state-card-accent: var(--color-yellow-450);
  background: var(--color-tan-300);
  border: 10px solid var(--color-brown-400);
  border-radius: calc(1.2 * var(--border-radius));
  padding: var(--space-xl);
  position: relative;
  box-shadow: var(--shadow);
  text-align: center;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: repeating-conic-gradient(
      from 0deg,
      rgba(0, 0, 0, 0.02) 0deg 90deg,
      transparent 90deg 180deg
    );
    background-size: 120px 120px;
    z-index: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &__status-pill {
    position: absolute;
    top: -1.8rem;
    right: -1.4rem;
    display: flex;
    align-items: center;
    gap: 0;
    // z-index: 10;
  }

  &__badge {
    padding: 0.45rem 0.75rem 0.45rem 0.75rem;
    border-radius: 999px 0 0 999px;
    font-family: var(--font-family-jua);
    font-size: var(--font-size-l);
    color: white;
    background: var(--color-brown-400);
    z-index: 1;
  }

  &__icon-circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: var(--color-brown-500);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -12px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: var(--state-card-accent);
      z-index: 1;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
      z-index: 2;
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--color-brown-400);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    margin: 0 auto var(--space-l);
    position: relative;
    img,
    svg {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
    }
    svg {
      fill: currentColor;
    }
  }

  &__title {
    font-family: var(--font-family-jua);
    font-size: var(--font-size-xxxl);
    color: var(--color-bg);
    margin-bottom: var(--space-s);
  }

  &__description {
    font-family: var(--font-family-jua);
    color: var(--color-bg);
    font-size: var(--font-size-xl);
  }

  &__hint {
    margin-top: var(--space-s);
    font-family: var(--font-family-text);
    font-size: var(--font-size-s);
    font-style: italic;
    opacity: 0.8;
  }

  &__cta {
    margin-top: var(--space-l);
  }

  &--danger {
    --state-card-accent: var(
      --color-red-450
    ); // should be darker than border, badge and icon circle.
    background: var(--color-red-400);
    border-color: var(--color-red-300);
    .state-card__badge {
      background: var(--color-red-300);
      color: var(--color-red-500);
    } // icon bg & icon text
    .state-card__icon-circle {
      background: var(--color-red-300);
    }
    .state-card__icon {
      background: var(--color-red-500);
    } // main icon bg
    .state-card__title {
      color: hsl(356, 49%, 20%);
    }
    .state-card__description {
      color: hsl(356, 49%, 22%);
      line-height: 1.5;
    }
  }

  &--warning {
    --state-card-accent: var(--color-yellow-450);
    background: var(--color-yellow-500);
    border-color: var(--color-yellow-400);
    .state-card__badge {
      background: var(--color-yellow-400);
      color: #884b2b;
    }
    .state-card__icon-circle {
      background: var(--color-yellow-400);
    }
    .state-card__icon {
      background: var(--color-yellow-600);
    }
    .state-card__title {
      color: hsl(0, 37%, 27%);
    }
    .state-card__description {
      color: hsl(0, 37%, 27%);
    }
  }

  &--success {
    --state-card-accent: #a8ca58;
    background: var(--color-green-400);
    border-color: var(--color-green-300);
    .state-card__badge {
      background: var(--color-green-300);
      color: #468232;
    }
    .state-card__icon-circle {
      background: var(--color-green-300);
    }
    .state-card__icon {
      background: var(--color-green-500);
    }
    .state-card__title {
      color: hsl(131, 40%, 24%);
    }
    .state-card__description {
      color: hsl(131, 40%, 24%);
    }
  }

  &--neutral {
    --state-card-accent: var(--color-tan-400);
    background: var(--color-tan-400);
    border-color: var(--color-tan-300);
    .state-card__badge {
      background: var(--color-tan-300);
      color: var(--color-brown-700);
      // or color-text
    }
    .state-card__icon-circle {
      background: var(--color-tan-300);
    }
    .state-card__icon {
      background: var(--color-brown-700);
    }
    .state-card__title {
      color: var(--color-brown-700);
    }
    .state-card__description {
      color: var(--color-brown-700);
    }
  }
}
