.vimeo-embed {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--color-brown-500);

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
  }
}
