<div class="kitchen-index">
  <%= render HeadingComponent.new(title: "Kitchen", tone: :blue) %>

  <% if current_user&.banned? %>
    <div class="banned-banner">
      <div class="banned-banner__content">
        <h2 class="banned-banner__title">Account Banned</h2>
        <p class="banned-banner__message">Your account has been banned and you cannot access other parts of the site.</p>
        <% if current_user.banned_reason.present? %>
          <p class="banned-banner__reason"><strong>Reason:</strong> <%= current_user.banned_reason %></p>
        <% end %>
      </div>
    </div>
  <% else %>
  <div class="kitchen-setup">
    <%= render KitchenTutorialStepsComponent.new(
      tutorial_steps: @tutorial_steps,
      completed_steps: @completed_steps,
      current_user: current_user
    ) %>
  </div>
  <% end %>
</div>
