<div class="kitchen-index">
  <%= render HeadingComponent.new(title: "Kitchen", tone: :blue) %>

  <div class="kitchen-setup">
    <%= render KitchenTutorialStepsComponent.new(
      tutorial_steps: @tutorial_steps,
      completed_steps: @completed_steps,
      current_user: current_user
    ) %>
  </div>
</div>
