.main {
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var(--color-blue-300);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 0.5rem;

  .content {
    background-color: var(--color-blue-400);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--color-bg);

    pre {
      background-color: var(--color-blue-500);
      padding: 1rem;
      border-radius: 0.5rem;
      font-family: monospace;
      font-size: 0.9rem;
      line-height: 1.5;
      overflow-x: auto;
      white-space: pre-wrap;
      word-wrap: break-word;

      code {
        display: block;
      }
    }

    label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
  }
}
