@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;

    font-family: inherit;
    font-size: inherit;

    cursor: inherit;
}

.input-red {
    background-color: var(--color-red);
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1.2em;

    > div {
        background: white;
        color: var(--color-red);
        box-shadow: var(--shadow-inset);
        border-radius: 0.25rem;

        display: flex;
        padding: 0.5rem;
        gap: 1rem;

        svg {
            width: 3rem;
            fill: var(--color-red);
            opacity: 75%;
        }

        input {
            flex: 1;
            opacity: 75%;

            &:hover, &:focus {
                cursor: text;
                outline: none;
            }
        }
    }
}

.btn-striped-red {
    padding: 0.625rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--color-red) url("striped-red-btn-bg.svg") no-repeat calc(50% - 2px) 50% / cover;
    font-family: inherit;

    div {
        background: var(--color-red-dark);
        color: white;
        box-shadow: var(--shadow);
        border-radius: 5px;
        padding: 4px 25px;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            filter: invert(1);
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.ribbon {
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;

    color: white;

    &.ribbon-title {
        padding: 0.5em 2em;
    }
}

.login-form {
    position: absolute;
    right: 16px;
    top: 16px;
}

.section {
    position: relative;
    min-height: 100vh;
    display: flex;
}

.section-1 {
    background: var(--color-cream);
    align-items: center;
    justify-content: center;

    gap: 4rem;

    .hero {
        width: 30rem;
        aspect-ratio: 2 / 1;
    }

    .rsvp-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
            width: 30rem;

            @media (max-width: 600px) {
                width: 25rem;
                align-self: center;
            }
        }

        .rsvp-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            form {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .btn-striped-red {
                    align-self: center;
                }
            }

            .success, .error {
                color: white;
                box-shadow: var(--shadow);
                font-size: 1.2rem;

                padding: 0.5rem 0;
                border-radius: 0.5rem;
                text-align: center;
            }
            
            .success {
                background-color: #75A743; // TODO do not hardcode!
            }
            .error {
                background-color: var(--color-red);
            }
        }
    }

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 2rem;
    }
}

.section-2 {
    background: var(--color-cream);

    gap: 1rem;

    .title-overlay {
        position: absolute;
        top: 2rem;
        width: 100%;
        z-index: 1;

        display: flex;
        justify-content: center;

        .title {
            background-image: url("landing/section-2/title.svg");
            font-size: 3rem;
        }
    }

    @media (max-width: 1330px) {
        flex-direction: column;

        .step.left {
            padding-top: 12rem;
        }
    }

    @media (max-width: 525px) {
        .title-overlay .title {
            font-size: 2.25rem;
        }
        .step.left {
            padding-top: 10rem;
        }
    }

    .step {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow);

        padding: 2rem 0;

        .step-card {
            width: min(30rem, 75%);
            height: auto;
            aspect-ratio: 30 / 35;
            border-radius: 1rem;

            background: var(--color-cream) var(--card-url) no-repeat center / cover;
            color: var(--card-color);
            box-shadow: var(--shadow);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .step-count {
                background-image: var(--ribbon-url);
                transform: translateY(-40%);
                font-size: 1.5rem;

                padding: 0.5em 3em;
            }

            .hero {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    background: linear-gradient(-52deg,
                        var(--title-edge) 0%,
                        var(--title-edge) 20%,
                        var(--title-middle) 20.1%,
                        var(--title-middle) 80%,
                        var(--title-edge) 80.1%,
                        var(--title-edge) 100%
                    );
                    color: white;
                    border-radius: 1.25rem;
                    box-shadow: var(--shadow);

                    position: absolute;
                    left: -5%;
                    bottom: 0;
                    width: 110%;
                    aspect-ratio: 16 / 3;

                    font-size: 2rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 80%;
                    padding-bottom: 10%;
                }
            }

            p {
                margin: 0;
                padding: 0.5rem 1.5rem 1.5rem 1.5rem;
                font-size: 1.5rem;
                text-align: center;
            }

            @media (max-width: 1600px) {
                p, .step-count { font-size: 1.25rem; }
                .hero .title { font-size: 1.5rem; }
            }
        }

        &.left {
            background: var(--color-pink) url("landing/section-2/texture_1.png") no-repeat center / cover;
            --ribbon-url: url("landing/section-2/step-1-ribbon.png");
            --card-url: url("landing/section-2/step-1-card-bg.png");
            --title-edge: #A4383F; // TODO do not hardcode!
            --title-middle: #BE4D54; // TODO do not hardcode!
            --card-color: var(--color-red-dark);
        }
        &.center {
            background: var(--color-lime) url("landing/section-2/texture_2.png") no-repeat center / cover;
            --ribbon-url: url("landing/section-2/step-2-ribbon.png");
            --card-url: url("landing/section-2/step-2-card-bg.png");
            --title-edge: #468232; // TODO do not hardcode!
            --title-middle: #75A743; // TODO do not hardcode!
            --card-color: #468232; // TODO do not hardcode!
        }
        &.right {
            background: var(--color-teal) url("landing/section-2/texture_3.png") no-repeat center / cover;
            --ribbon-url: url("landing/section-2/step-3-ribbon.png");
            --card-url: url("landing/section-2/step-3-card-bg.png");
            --title-edge: #3C5E8B; // TODO do not hardcode!
            --title-middle: #4F8FBA; // TODO do not hardcode!
            --card-color: #3C5E8B; // TODO do not hardcode!
        }
    }
}

.section-3 {
    background: url("landing/section-3/bg.png") center center / cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 2rem;
    padding: 2rem 0;

    > .title {
        background-image: url("landing/section-3/title.png");
        font-size: 3rem;

        padding: 0.5em 3em;

        @media (max-width: 800px) {
            font-size: 2rem;
        }

    }

    @media (max-width: 500px) {
        gap: 1rem;
        .title { font-size: 1.6rem; }
    }

    .testimonials {
        width: 70%;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, 24rem);
        gap: 1.5rem 3rem;

        @media (max-width: 600px) {
            width: 90%;
        }

        .testimonial {
            background: var(--color-brown-light);
            box-shadow: var(--shadow);
            border-radius: 2rem;
            padding: 0.75rem;

            > div {
                background: var(--color-brown-darker);
                box-shadow: var(--shadow);
                border-radius: 1.25rem;

                padding: 1rem;
                height: 100%;

                font-size: 1.5rem;

                position: relative;

                p {
                    color: white;
                    margin: 0.5rem 0 4rem 0;
                }

                .title {
                    width: 110%;

                    position: absolute;
                    bottom: 1rem;
                    left: -5%;

                    background: linear-gradient(52deg,
                        var(--title-edge) 0%,
                        var(--title-edge) 20%,
                        var(--title-middle) 20.1%,
                        var(--title-middle) 75%,
                        var(--title-edge) 75.1%,
                        var(--title-edge) 100%
                    );
                    color: white;
                    aspect-ratio: 25 / 3;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.75rem;
                }
            }

            &.red {
                --title-edge: #C24953; // TODO do not hardcode!
                --title-middle: #C6515E; // TODO do not hardcode!
            }
            &.green {
                --title-edge: #539D2B; // TODO do not hardcode!
                --title-middle: #65A92E; // TODO do not hardcode!
            }
            &.blue {
                --title-edge: #3484B2; // TODO do not hardcode!
                --title-middle: #3491BE; // TODO do not hardcode!
            }
        }
    }
}

.section-4 {
    background: var(--color-cream) url("landing/section-4/bg.svg") center center / cover;

    padding: 2rem 0 4rem 0;

    flex-direction: column;
    align-items: center;
    gap: 2rem;

    overflow: hidden;


    .title {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        background: var(--color-red);
        box-shadow: var(--shadow);
        color: white;

        border-radius: 2rem;
        font-size: 2rem;
        padding: 0.5rem;
        aspect-ratio: 5 / 1;

        > div {
            font-size: 3rem;
            width: 110%;
            text-align: center;

            background: var(--color-red-dark) url("landing/section-4/title-overlay.svg") center center / cover;
            box-shadow: var(--shadow);
            border-radius: 1rem;

            padding: 0.5rem 0;
        }
    }

    .showcase-container {
        display: flex;
        flex-direction: column;
        margin: 1rem;

        width: 105%;
        transform: rotate(-4deg);

        --showcase-scroll-time: 10s;

        .showcase-title {
            width: 95.24%;
            align-self: center;

            display: flex;
            flex-direction: column;

            > div {
                align-self: var(--align-title);

                background: var(--carousel-bg);
                border-radius: 0.75rem 0.75rem 0 0;

                font-size: 1.75rem;
                color: white;

                margin: 0 6rem;
                padding: 0.5rem 0.5rem 0 0.5rem;

                > div {
                    background: var(--carousel-title);

                    padding: 0.25rem 3rem;
                    border-radius: 0.5rem;
                }
            }
        }
        .showcase {
            display: flex;
            gap: 1rem;
            padding: 0.5rem;
            border-bottom: 0.5rem solid var(--carousel-title);

            background: var(--carousel-bg);

            &:hover > .items {
                animation-play-state: paused;
            }

            > .items {
                display: flex;
                gap: 1rem;
                z-index: 1;

                will-change: transform;
                animation: scrolling var(--showcase-scroll-time) linear infinite;

                .prize {
                    background: #EBEDE9; // TODO do not hardcode
                    box-shadow: var(--shadow);
                    padding: 0.75rem;
                    border-radius: 1rem;

                    flex: 0 0 15rem;
                    aspect-ratio: 15 / 14;

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .image-wrapper {
                        background: var(--color-tan-light) url("landing/section-4/img-overlay.svg") center center / cover;
                        box-shadow: var(--shadow);
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        flex: 1;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        overflow: hidden;
                    }

                    .description {
                        text-align: center;

                        font-size: 0.9rem;

                        .name {
                            font-size: 1.25rem;
                        }
                    }
                }
            }

            .bar {
                position: absolute;
                bottom: 0.5rem;
                left: 0;
                right: 0;
                background: var(--carousel-bar);
                box-shadow: var(--shadow);
                height: 2rem;
            }
        }

        &.five-hour {
            --carousel-bg: #DE9E41; // TODO do not hardcode
            --carousel-title: #BE772B; // TODO do not hardcode
            --carousel-bar: #E7C06D; // TODO do not hardcode
            --align-title: flex-start;
        }

        &.twenty-hour {
            --carousel-bg: #A8CA58; // TODO do not hardcode
            --carousel-title: #75A743; // TODO do not hardcode
            --carousel-bar: #D0DA91; // TODO do not hardcode
            --align-title: center;
        }

        &.hundred-hour {
            --carousel-bg: #73BED3; // TODO do not hardcode
            --carousel-title: #4F8FBA; // TODO do not hardcode
            --carousel-bar: #A4DDDB; // TODO do not hardcode
            --align-title: flex-end;
        }
    }
}

.section-5 {
    background: var(--color-gold);
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    
    .title {
        background-image: url("landing/section-3/title.png");

        font-size: 3rem;

        padding: 0.6em 1.5em;
        
        @media (max-width: 850px) {
            font-size: 2rem;
        }

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
}

.project-idea-generator {
    background: var(--color-cream);

    padding: 10px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    text-align: center;

    margin-top: 32px;

    width: 25%;

    @media (max-width: 900px) {
        width: 80%;
    }

    > div {
        color: var(--color-cream);
        background-color: #BE772B;
        background-image: linear-gradient(180deg, #BE772B 25%, #DE9E41 25%);
        
        box-shadow: var(--shadow-inset);
        border-radius: 10px;
        padding: 16px;
        height: 100%;


        display: flex;      
        flex-direction: column;

        h3 {
            font-size: 1.8em;
            margin-top: 0;
            margin-bottom: 4px; // just a little extra margin cuz i feel like it looks nice

            @media (max-width: 600px) {
                font-size: 1.6em;
            }
        }

        #shopkeeper-bar {
            margin-top: 16px;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            #shopkeeper-speech {
                padding: 8px 16px;
                background: #884B2B;
                border-radius: 10px;
                box-shadow: var(--shadow);
                z-index: 10;
            }

            #shopkeeper-bakery {
                position: relative; 
                width: 95%; 
                margin-top: -8px;
                align-self: center;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.section-6 {
    background-color: var(--color-tan-light);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4rem;

    .about {
        background-color: var(--color-tan);
        box-shadow: var(--shadow);
        border-radius: 1rem;
        padding: 0.5rem;
        width: 60%;
        
        @media (max-width: 600px) {
            width: 90%;
        }

        div {
            background: var(--color-cream) url("landing/section-6/about-bg.png") center / cover;
            box-shadow: var(--shadow-inset);
            border-radius: 10px;
            padding: 2rem;

            @media (max-width: 600px) {
                background-size: 250% auto;
                background-position: center top;
            }

            h2 {
                text-align: center;
                font-size: 2rem;
                color: var(--color-brown-dark);
            }

            p {
                color: var(--color-brown);
                font-size: 1.2rem;
                margin: 1.5rem 0;
            }

            a {
                color: var(--color-brown);
            }
        }
    }

    .credits {
        background-color: var(--color-brown-light);
        padding: 8px 16px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        width: 40%;

        @media (max-width: 600px) {
            width: 80%;
        }

        h3 {
            color: var(--color-cream);
            font-size: 1.2em;
            text-align: center;
            width: 110%;
            transform: translateX(calc(-5% + 4px));
            background-color: var(--color-brown);
            border-radius: 0.4rem;
            padding: 0.5rem 0;
            margin: 0;

            @media (max-width: 600px) {
                width: 120%;
                transform: translateX(calc(-10% + 8px));
                font-size: 1em;
            }
        }

        .people {
            background: var(--color-cream) url("landing/section-6/people-bg.png") center / cover;
            box-shadow: var(--shadow-inset);
            border-radius: 0.5rem;
            padding: 1rem;
            margin-top: -1rem;
            height: 8rem;
        }

        .links {
            margin-top: 8px;
            display: flex;
            gap: 2rem;
            justify-content: center;
        }
    }
}

button {
    font-size: 1.2em;

    &:hover {
        cursor: pointer;
    }
}

.orph-flag {
    position: absolute;
    top: 0;
    left: 1.5em;

    width: 180px;
    height: auto;

    @media (max-width: 600px) {
        width: 140px;
    }
}
