main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1rem;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  width: 50%;
}

.user {
  background-color: var(--color-blue-300);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 0.5rem;

  .content {
    background-color: var(--color-blue-400);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-bg);

    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin: 0 1rem 0 1rem;
    }

    p {
      margin-left: auto;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
