main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.pagination {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;

  a {
    background: var(--color-tan-400);
    color: black;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    &::hover {
      box-shadow: var(--shadow);
    }

    &::after {
      content: unset;
    }
  }

  .pagy {
    display: flex;
    gap: 0.5rem;
  }
}

.subtitle {
  font-size: 1rem;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  width: 50%;
}

.user {
  background-color: var(--color-blue-300);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 0.5rem;

  .content {
    background-color: var(--color-blue-400);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-bg);

    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin: 0 1rem 0 1rem;
    }

    a {
      color: var(--color-bg);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-left: auto;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
