<div class="faq-section-second-border-wrapper">
  <div class="faq-section-border-wrapper">
    <div class="section faq">
      <div class="title">
        <div>FAQ</div>
      </div>

      <div class="cards">
        <div class="card card-yellow">
          <p class="question">Who is eligible?</p>
          <p class="answer">Flavortown is for highschoolers! You need to be 18 or younger to participate.</p>
        </div>

        <div class="card card-green">
          <p class="question">How much does it cost?</p>
          <p class="answer">It's completely free! We want to make sure everyone can participate, so there are no costs involved. Just sign up and start building! We'll even cover shipping costs for your prizes.</p>
        </div>

        <div class="card card-blue">
          <p class="question">What types of projects count?</p>
          <p class="answer">You can build anything you want! It can be a website, a game, an app, or even a cool hardware project. The only requirement is that you share your progress and log your hours.</p>
        </div>

        <div class="card card-yellow">
          <p class="question">How many projects can I build?</p>
          <p class="answer">There's no limit! The more you build, the more prizes you can earn. Each project you log counts, so get creative!</p>
        </div>

        <div class="card card-green">
          <p class="question">How can I trust this is real?</p>
          <p class="answer">Over the last year, we've run both Summer of Making and High Seas, which gave out over 15,000 prizes with 6158 projects shipped overall! Before that, we ran Arcade, which was also a huge success.</p>
        </div>

        <div class="card card-blue">
          <p class="question">Where does the money come from?</p>
          <p class="answer">This event is in partnership with GitHub, who are generously funding us! We have also received donations from others like Michael Dell, and the The Libermans. You can learn more on our <a href="https://hackclub.com/philanthrophy" target="_blank">Philanthropy page</a>.</p>
        </div>
        
        <div class="card card-yellow">
          <p class="question">Is Hack Club actually a non-profit?</p>
        <p class="answer"> Yup! Hack Club is a 501(c)(3) non-profit, and our EIN is 81-2908499. You can view our 990-N forms on <a href="https://projects.propublica.org/nonprofits/organizations/812908499" target="_blank">ProPublica</a>. We also keep our <a href="https://hcb.hackclub.com/hq" target="_blank">financials transparent</a> and available for anyone to view.</p>
        </div>
        
        <div class="card card-green">
          <p class="question">I've got more questions...</p>
          <p class="answer">You can email us at <a href="mailto:flavortown@hackclub.com">flavortown@hackclub.com</a>! We'll try and respond to everything within two days :)</p>
        </div>
      </div>
    </div>
  </div>
</div>
