<div class="how-this-works-second-border-wrapper">
  <div class="how-this-works-border-wrapper">
    <div class="section how-this-works">
      <div class="title-overlay">
        <div class="ribbon ribbon-title title">How this works</div>
      </div>

      <div class="step left">
        <div class="step-card">
            <div class="ribbon step-count">Step 1</div>

            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-1-img.webp" %>
              <div class="title">Cook a real tasty project!</div>
            </div>

            <p>A website, game, hardware, anything to show off your skills</p>
        </div>
      </div>

      <div class="step center">
        <div class="step-card">
            <div class="ribbon step-count">Step 2</div>

            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-2-img.webp" %>
              <div class="title">Rate your fellow hackers!</div>
            </div>

            <p>Rate projects and receive a rating on your own</p>
        </div>
      </div>

      <div class="step right">
        <div class="step-card">
            <div class="ribbon step-count">Step 3</div>

            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-3-img.webp" %>
              <div class="title">Win prizes!</div>
            </div>

            <p>Win prizes that you can use to cook your next incredible feast</p>
        </div>
      </div>
    </div>
  </div>
</div>
