<div class="prizes-section-second-border-wrapper">
  <div class="prizes-section-border-wrapper">
    <div class="section prizes">
      <div class="title">
        <div>Our best prizes yet</div>
        Prizes to power up your next project!
      </div>

      <%= render partial: "landing/prizes/showcase", locals: {
        showcase_items: @prizes.select { |p| p[:hours_estimated].between?(4, 9) },
        class_name: "five-hour",
        items_class_name: "",
        title: "5 hour prizes"
      } %>

      <%= render partial: "landing/prizes/showcase", locals: {
        showcase_items: @prizes.select { |p| p[:hours_estimated].between?(10, 30) },
        class_name: "twenty-hour",
        items_class_name: "reverse",
        title: "20 hour prizes"
      } %>

      <%= render partial: "landing/prizes/showcase", locals: {
        showcase_items: @prizes.select { |p| p[:hours_estimated] > 80 },
        class_name: "hundred-hour",
        items_class_name: "",
        title: "100 hour prizes"
      } %>
    </div>
  </div>
</div>
