<div class="section prizes">
  <div class="title">
    <div>Amazing Prizes</div>
    Prizes to power up your next project!
  </div>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated].between?(4, 9) },
    class_name: "five-hour",
    title: "5 hour prizes"
  } %>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated].between?(10, 30) },
    class_name: "twenty-hour",
    title: "20 hour prizes"
  } %>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated] > 80 },
    class_name: "hundred-hour",
    title: "100 hour prizes"
  } %>
</div>