<%= turbo_frame_tag "project-idea-content" do %>
  <div class="bg-white rounded-2xl p-6 border-4 border-[#CF5A66]">
    <p class="text-[#8B2E2E] text-xl text-center"><%= idea %></p>
  </div>
<% end %>
