<div class="votes-new__project">
  <%= render VoteProjectShowcaseCardComponent.new(project: project, current_user: current_user) %>

  <div class="votes-new__devlogs">
    <% posts.each do |post| %>
      <%= render PostComponent.new(post: post, current_user: current_user) %>
    <% end %>
  </div>
</div>
