<div class="project-vote">
  <%# TODO: make a general-purpose "project mention" we can use for this %>
  <h2><%= project.title %></h2>
  <div>
    <% votes.each do |vote| %>
      <div>
        <span><%= vote.category.humanize %></span>
        <span><%= vote.score %>/5</span>
      </div>
    <% end %>
  </div>
</div>
