<% content_for :title, "Vote!" %>

<% if @project.nil? %>
  <p>No more projects to vote on!</p>
<% else %>
  <div class="votes-new">
    <%= render HeadingComponent.new(title: "Vote", tone: :green) %>


    <div class="votes-new__main" data-controller="vote-tracker">
      <%= render "project_showcase", project: @project, devlogs: @devlogs %>

      <div class="votes-new__form">
        <h1>Your grades, chef</h1>
        <div>
          <%= render "form", project: @project %>
        </div>
      </div>
    </div>

    <% if current_user.votes.exists? %>
      <div>
        <%= link_to "See my previous votes", votes_path %>
      </div>
    <% end %>
  </div>
<% end %>
