<% content_for :title, "Vote!" %>

<% if @project.nil? %>
  <p>No more projects to vote on!</p>
<% else %>
  <%= render "projects/card", project: @project %>
  <%= link_to "Vote on another project", new_vote_path %>
<% end %>
