name: Ruby + Postgres Setup

on:
  workflow_call:
    inputs:
      commands:
        description: 'Commands to run after setup'
        required: true
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: flavortown_test
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3
    env:
      RAILS_ENV: test
      DATABASE_URL: postgresql://postgres:password@localhost:5432/flavortown_test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run commands
        run: ${{ inputs.commands }}
